/* .task{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 500;
    color: #333;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
} */
.list{
    display: flex;
    justify-content: space-between;
      padding: 10px;
    align-items: center;
    /* padding: 10px; */
    border-bottom: 1px solid #ccc;
    margin-bottom: 14px;
    font-size: 20px;
    font-weight: 500;
    color: #333;
    background-color: #b6b6b6;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0,0,0,0.3);

}
.list button{
    padding: 5px;
    border: none;
    border-radius: 5px;
    background-color: #ffffff;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    width: 80%;
    
}

.btn{
   display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    font-size: 20px;
    font-weight: 300;
    color: #333;
    gap: 1rem;

}
.btn .delete{
    background-color: #ff0000;
    /* color: #fff; */
    padding: 5px;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
    width: 80%;
}

.btn .done{
    background-color: #00ff00;
    /* color: #fff; */
    padding: 5px;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
    width: 80%;
}
